* {
    margin: 0;
}

.about_me img {
    max-width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.about_me_pictures {
    background-color: #EED9AC;
}

.about_me_pictures img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap: 2%;
    margin-bottom: 1%;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap: 2%;
    margin-bottom: 1%;
}

.big_picture {
    position: relative;
}

.photo_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: none;
    text-align: center;
    padding: 3%;
}

.big_picture:hover .photo_hover {
    display: flex;
}

.about_blog img {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about_blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    text-align: justify;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}

.blog_moto {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-left: #FED269 solid 5px;
    border-right: #FED269 solid 5px;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 50px;
    margin-bottom: 50px;
}