* {
    margin: 0;
}

.posts_list {
    background-color: #EED9AC;
}

.grid img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.container_link {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3%;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
}

.photo_over {
    position: absolute;
    top: 1%;
    left: 1%;
    color: white;
    font-size: 0.8rem;
    padding: 3px;
    background-color: #89bb7a;
    opacity: 0.9;
    border-radius: 5px;
}

.grid_text {
    font-family: 'Assistant', sans-serif;
    color: rgb(0, 0, 0);
}

.grid:hover a {
    text-decoration: none;
}

.grid img:hover {
    opacity: 0.5;
}

.grid img:hover h4 {
    text-decoration: underline;
}

@media all and (max-width: 980px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 0.5fr 0.1fr;
        width: 90%;
        justify-content: center;
        gap: 3%;
        margin: auto;
        text-align: justify;
    }

    .grid img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
        display: block;
        text-align: center;
    }

    .grid h4, .grid p {
        max-width: 400px;
    }
}