* {
    margin: 0;
}

.wechat_logo, .email_logo {
    max-width: 100%;
    min-width: 20px;
    height: auto;
}

.contact_details {
    display: grid;
    grid-template-columns: 2fr 0.2fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    width: 70%;
    margin: auto;
}

.box1 {
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
    padding-right: 3%;
}

.box2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

.box3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

.box4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 3%;
    
}

.box5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.me {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.box3 {
    inline-size: 1fr;
    word-wrap: break-word;
}

@media all and (max-width: 980px) {
    .contact_details {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: auto;
        gap: 0;
        width: 70%;
        max-width: 400px;
        margin: auto;
    }
    
    .box1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }
    
    .box2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .box3 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .box4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .box5 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .me {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
    }

    .wechat_logo, .email_logo {
        width: 40px;
        height: auto;
    }
}